<p>THIS IS THE TASKKKK NEW PAGEEEEEEEE</p>
<div>
    {{userID}}
    {{boardID}}
    <form action="/{{userID}}/board/{{boardID}}/task" method="POST">

    <input type="text" name="name" placeholder="name" value="">
    <input type="text" name="details" placeholder="details" value="">
     <button type="submit">Post a new task</button>
</form>
</div>