
<div>

    <form action="/{{userID}}/board/{{boardID}}/task" method="POST">

    <input type="text" name="name" placeholder="Name" value="">
    <input type="text" name="details" placeholder="Details" value="">
     <button type="submit" class="button is-small is-link is-rounded">Post a new task</button>
</form>
</div>