
<div>
    <form action="/{{userID}}/board/{{boardID}}/?_method=PATCH" method="POST">
        <input type="text" name="name" placeholder="Name" value="">
        <button type="submit" class="button is-small is-link is-rounded">Update This Board Name</button>
    </form>
</div>