<p>THIS IS THE BOARDDD EDITTTTTT PAGE :)</p>
{{userID}}
{{boardID}}

<div>
    <form action="{{userID}}/board/{{boardID}}/?_method=PATCH" method="POST">
        <input type="text" name="name" placeholder="name" value="">
        <button type="submit">Update This Board</button>
    </form>
</div>