
<p>BOARDS INDEX!!</p>
<div>
    <a href="/{{userID}}"><button>Back</button></a>
    {{#each boards}}
    <div>
        <div>
            <h3>{{name}}</h3>
            {{#each tasks}}
            <p>{{name}}</p>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>