<p>NEW PAGEEEEEEE FOR BOARDS</p>
<div>
    <form action="/{{userID}}/board" method="POST">
    {{userID}}
    <input type="text" name="name" placeholder="name" value="">
     <button class="btn" type="submit">Post a new Board</button>
</form>
</div>