<p>NEW PAGEEEEEEE FOR BOARDS</p>
<div>
    <form action="/{{userID}}/board" method="POST">
        {{userID}}
        <input type="text" name="name" placeholder="name" value="">
        <button type="submit" class="button is-small is-link is-rounded">Post a new Board</button>
    </form>
</div>