<div>
    <form action="/{{userID}}/comments" method="POST">
    <input type="text" name="name" placeholder="name" value="">
    <button class="btn" type="submit">Post a new Board</button>
</form>
</div>