<form action="/{{userID}}?_method=PATCH" method="POST">

    <input type="text" name="name" placeholder="Name" value="">
    <button type="submit">Fix-it</button>
</form>
<a href="/{{userID}}"><button>Back</button></a>