{{#each user}}
{{!-- <a href="/{{user._id}}/board"><button > See all Boards</button> </a> --}}
<a href='{{_id}}/board'>
    <h3>{{name}}</h3>
</a>

    {{!-- {{#each boards}} 
        <p>{{name}}</p>
    {{/each}} --}}
{{/each}}