<p style="font-weight:bold;text-align:center">** New sorting & search methods for logs coming soon! **</p>


{{!-- <button class="dateCheckButton" > Date check</button> --}}
{{#each logs }}
<div class="tile is-parent">
<article class="tile is-child notification is-info">

<p class="date">Date: {{date}}</p>
<p>Name: {{name}} </p>
<p>Completed By: {{completedBy}}</p>
<p>Notes: {{notes}}</p>

</article>
 </div>
{{/each}}

